.form__registration {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    font-size: 14px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.form__address {
    font-size: 11px;
    color: black;
}

.form__input {
    padding: 2px 2px 2px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form__group {
  flex-basis: calc(33% - 1px);
  margin-bottom: 20px;
}


.form__input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  input::placeholder {
    color: gray;
    font-weight: bold;
  }
